output/
*.OBJ
*.obj
*.EXE
*.COM
*.SYS
*.BIN
*.CPI
*.MAP
*.LST
*.CRF
*.LIB
!dos/TOOLS/**
!dos/LIB/MAKEFILE
!dos/INC/COMSUBS.LIB
*.CTL
*.CL1
*.CL2
*.CL3
*.CL4
*.CL5
*.CL6
*.CL7
*.CL8
*.CL9
*.CLA
*.CLB
*.CLC
*.CLD
*.CLE
*.CLF
*.IDX
fullbuild.log
*.COD
*.OBJ+
tools/demu/test_hash*.c
dos/MEMM/MEMM/emm386_test.lnk
dos/MEMM/MEMM/emm386_direct.lnk
86Box/